/**
 * Base (_base.scss)
 * Partial for initializing common variables, importing utilities and setting up the framework
 */

// Configure blueprint
$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// Load compass tools, utilities and blueprint modules
@import "blueprint";
@import "blueprint/reset";
@import "compass/css3/font-face";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/typography/text/replacement";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

// Custom font setup (CSS3 font-face)
@include font-face("Futura", font-files("../../../other/futura.ttf", truetype, "../../../other/futura.otf", opentype, "../../../other/futura.svg", svg));

// Global constants and variables goes here (re-usable colors, default sizes etc.)
$customfont: arial, sans-serif;

// Custom mixins goes here
@mixin dropshadow {
	position: relative;
	&:before, &:after {
	  z-index: -1;
	  position: absolute;
	  content: "";
	  bottom: 15px;
	  left: 5px;
	  width: 40%;
		height: auto;
	  top: 0;
	  //max-width:300px;
	  background: rgba(0, 0, 0, 0);
	  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.25);
	  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
	  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
	  -webkit-transform: rotate(-3deg);
	  -moz-transform: rotate(-3deg);
	  -o-transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  transform: rotate(-3deg); }
	&:after {
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 5px;
	  left: auto; }	
}