/**
 * Main (main.scss)
 */

// Load the WP defaults and base
@import "_wordpress";
@import "_base";
@import "compass/css3";

// Typography setup
$blueprint-font-family: Arial, Helvetica, sans-serif;
$blueprint-font-size: 12px;
@include blueprint-typography(false);

// Default blueprint setup on the body
body.bp {
  @include blueprint-utilities; }

// Default blueprint setup for forms
form.bp {
  @include blueprint-form; }

/**
 * 1. Body
 ************************************************/

// Height declared explicitly for sticky footer (http://localhost:8888/projects/dmt/materialer)
html, 
body, 
#body-container { 
	height: 100%; }

	// Wrapper for sticky footer
	#body-wrapper {
		min-height: 100%; }

/**
 * 2. Header
 ************************************************/

// Contains entire header
#header-container {
	@include container;
	padding-top: 20px; }
	
	#header {}

		// Site title
		#site-logo {
			@include column(11);
			@include prepend(1);
			height: 111px; }

		h1#site-logo {
			margin-bottom: 0; }
		
			#site-logo a {}
				#site-logo a img {}
		
		#site-sponsors {
			@include column(11, true);
			@include append(1);
			padding-top: 7px; }
			
			#site-sponsors img {
				float: right;
			}

	/**
	 * 2.1 Primary Menu
	 ************************************************/

	$menu-selected-primary: blue;
	$menu-selected-area: red;
	$menu-selected-general: blue;

	#general-menu-container {
		@include column(11, true);
		@include append(1); }

		#general-menu {
			
			> ul {
				padding: 0;
				float: right;
			
				> li {
					margin: 0 0 0 20px;
					padding: 0; }
				}
				
			ul ul {
				margin-top: 26px;
				background-color: #fff;
				border: 1px solid #bcbcbc;
				border-top: none;
			}
		}	

	// Wrapper for entire menu area
	#top-menu-container {
		@include column(24, true);
		margin-top: 15px; }
	
		.home .menu-container #top-menu {
			height: 10px;
		}	
	
	.menu-container {
	
		// Wrapper for unordered list of menu items
		#top-menu { 
			@include border-radius(4px);
			@include background-image(linear-gradient(#fff, #d6d6d6));
			//background: url('../../graphics/primary-menu_bg.png');
			//background-repeat: repeat-x;
			background-color: #f2f2f2;
			border: 1px solid #bcbcbc;
			height: 40px;
			margin: 0;
			padding: 0; }
		
			// Menu list.
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0 0 0 20px; }
				
				li { 
					float: left;
					margin: 0;
					padding: 11px 20px 0 0;
					text-align: center; }
					
					li a {
						@include transition-property(color);
						@include transition-duration(0.5s);
						float: left;
						text-decoration: none;
						font-size: 1.083em; //13px
						font-weight: bold;
						color: #000;
						&:hover {
							color: #0079c2; }
					}
					
					li.current-menu-item > a,
					li.current_page_parent > a {
						color: #0079c2; }
						
						li a .sf-sub-indicator {
							@include replace-text('../graphics/primary-menu_sub-indicator.png');
							float: left;
							margin-right: 4px; }
						
					li .separator {
						float: left;						
						margin-left: 20px; }
					
					li:last-child .separator {
						display: none; }			
				
				ul ul {
					@include border-bottom-radius(4px);
					width: 13em !important;
					display: none;
					position: absolute;
					list-style-type: none;
					overflow: hidden;
					margin: 26px 0 0 -8px;
					padding: 5px 0 0 18px;
					background-color: #dddddd;
					border: 1px solid #bcbcbc; 
					border-top: none; 
					z-index: 100;
					}

					ul ul li {
						text-align: left;
						margin: 0px;
						padding: 0 0 13px 0; }

					ul ul li .separator {
						display: none; }
					
						

				.area-menu li {
					float: right;
					margin: 0;
					padding: 11px 20px 10px 20px;
					border-left: 1px solid #bcbcbc;					
					> a {						
						color: gray; 
						&:hover {
							color: red; }
						}
					}

				.area-menu li.current_page_item,
				.area-menu li.current_page_parent {
					> a {
						color: $menu-selected-area; }
				}
				
		}

	body.dmt-area-materials #top-menu-container li.materials-area,
	body.dmt-area-tools #top-menu-container li.tools-area	{
		> a {
			color: $menu-selected-area; }
	}
	
	body.home #top-menu-container li.materials-area,
	body.home #top-menu-container li.tools-area {
		> a {
			color: gray;
			&:hover {
				color: $menu-selected-area; }
			}
	}

	/**
	 * 2.2 Banner
	 ************************************************/

	// Wrapper for entire menu area
	#banner-container {
		@include column(22, true); 
		overflow: hidden; }
		
	body.home #banner-container {
		@include column(24, true);
		margin-left: -($blueprint-grid-width + $blueprint-grid-margin); 
		
		a {
			margin: 0;
			padding: 0;
			display: block;
			position: relative;
			text-decoration: none;
			color: #000;
			width: 100%;
			height: 100%; }
		
		.banner-button {
			@include box-shadow(0px 1px 4px rgba(000,000,000,0.2), inset 0px 0px 1px rgba(255,255,255,1));
			@include text-shadow(0px -1px 0px rgba(000,000,000,0.1), 0px 1px 0px rgba(255,255,255,0.5));
			@include border-radius(4px);				
			@include transition-property(all);
			@include transition-duration(0.4s);
			background-color: #fff;
			background: -moz-linear-gradient(
				top,
				#ffffff 0%,
				#ebebeb 50%,
				#dbdbdb 50%,
				#b5b5b5);
			background: -webkit-gradient(
				linear, left top, left bottom, 
				from(#ffffff),
				color-stop(0.50, #ebebeb),
				color-stop(0.50, #dbdbdb),
				to(#b5b5b5));
			position: absolute;
			color: #050505;
			border: 1px solid #949494;
			padding: 10px 20px;
			font-size: 2.5em; 
			font-family: $customfont;
			text-decoration: none;
			color: #000; }
			
			.banner-button:hover {
				@include box-shadow(0px 1px 6px rgba(000,000,000,0.4), inset 0px 0px 1px rgba(255,255,255,1));
				@include text-shadow(0px -1px 0px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,1));				
				@include transition-property(all);
				@include transition-duration(0.4s);
				color: red; }

			.banner-button:active {
				@include box-shadow(0px 1px 2px rgba(000,000,000,0.2), inset 0px 0px 1px rgba(255,255,255,1));
				@include text-shadow(0px 0px 0px rgba(000,000,000,0), 0px 0px 0px rgba(255,255,255,0));				
				@include transition-property(all);
				@include transition-duration(0.2s); }

		}
		
		#banner {
			@include single-box-shadow(#000, 0, 7px, 10px, -10px, true);
			@include border-bottom-radius(4px);
			background-position: center bottom;
			background-color: #dddddd;			
			height: 100px; }
		
		body.dmt-area-tools #banner {
			background-image: url('../../graphics/tools_banner-texture.png'); }

		body.dmt-area-materials #banner {
			background-image: url('../../graphics/materials_banner-texture.png'); }

		body.home #banner-materials {
			@include column(12);
			position: relative;
			background-image: url('../../graphics/home_materials-texture.png');
			background-color: transparent;
			background-position: left top;
			box-shadow: none;
			height: 275px; 
			
			.banner-button {
				top: 30px;
				right: 30px;
				text-align: right; }
				
				p {
					display: block;
					position: absolute;
					font-size: 13px;
					top: 120px;
					right: 30px;
					color: #000;
					text-align: right; }
			}
			

		body.home #banner-tools {
			@include column(12, true);
			position: relative;		
			background-image: url('../../graphics/home_tools-texture.png');
			background-color: transparent;
			background-position: left top;
			box-shadow: none;
			height: 275px;
			
			.banner-button {
				top: 30px;
				left: 30px;
				text-align: left; }
				
			p {
				display: block;
				position: absolute;
				font-size: 13px;
				top: 120px;
				left: 30px;
				color: #000; }
			}


/**
 * 3. Content
 ************************************************/

// Contains site's main content
#content-container {
	@include container;
	overflow: hidden;
	padding-bottom: 80px; }
	
	#content {
		@include prepend(1);
		@include column(22);
		@include append(1); }

		// Breadcrumb trail
		.breadcrumb {}
			.breadcrumb-trail {}

		// Archive and search <div> before posts are listed
		.archive-info
		.author-info {}
		.term-info
		.category-info {}
		.tag-info {}
		.date-info {}
		.search-info {}

			// Archive and search page titles.
			.archive-title
			.author-title {}
			.term-title {}
			.category-title {}
			.tag-title {}
			.date-title {}
			.search-title {}

		// Entry wrapper <div>
		.hentry {}
		.post {}
		.page {}

			// Post, page, and 404 page titles
			.entry-title {
				padding: 45px 0 0 20px;
			}
			
			.entry-overview-title {
			    @include box-header;
				//padding: 15px 0 0 20px;
				//background-color: #CCC;
				//border: 1px solid #000;
				//@include border-top-left-radius(5px);
				//@include border-top-right-radius(5px);
				
				> a {
				    padding: 15px 0 0 20px;
				    @include single-text-shadow(white, 0, 1px, 2px);
    				font-family: $customfont;
    				text-transform: uppercase;
    				color: #000;
    				text-decoration: none;
    				font-size: 28px; }
			}
			
			.post-title {}
			.page-title {
			    //padding: 45px 0 0 20px;
			    
			    > a {
    				@include single-text-shadow(white, 0, 1px, 1px);
    				font-family: $customfont;
    				text-transform: uppercase;
    				color: #000;
    				text-decoration: none;
    				font-size: 34px; }
			}
			.attachment-title {}
			.error-404-title {}

			.entry-title a, h1.entry-title {
				@include single-text-shadow(white, 0, 1px, 1px);
				font-family: $customfont;
				//text-transform: uppercase;
				color: #000;
				text-decoration: none;
				font-size: 34px; }

			// Author and date byline
			.byline {
			    padding-left: 3px;
			    background-color: #F5F5F5;
			}
			
			.entry-container {
			    border-left: 1px solid #CCC;
			    border-right: 1px solid #CCC;
			    border-bottom: 1px solid #CCC;
			    @include border-radius(5px);
			    margin-bottom: 10px;
			    @include box-shadow(gray 2px 2px 5px);
			}

			// Full entries
			.entry-content {
				@include column(21, true);
				padding: 20px 10px 15px 10px;
			}
				
			body.home .entry-content {
				@include column(11);
			}

			// Excerpts (introduced)
			.entry-summary {}

				// Using <!--nextpage-->
				p.page-links a {}

				// More link <!--more-->
				a.more-link {}

			// Entry metadata
			.entry-meta {
			    padding-bottom: 5px;
			    //background-color: #F5F5F5;
			    .category {
			        padding-left: 3px;
			    }
			}

		// Post series
		.series {} 
			.series-title {}

		// Navigation links
		.navigation-links {
			.previous {}
			.next {}
		}

		// WP PageNavi (plugin)
		.wp-pagenavi {
			.pages {}
			.current {}
			.extend {}
			a {}
		}
		
		// Attachment image navigation
		.navigation-attachment {}

		/**
		 * 3.1 Widget sections (Primary and Secondary)
		 ************************************************/

		// Widgets in general
		.widget {}
			.widget-inside {}
				.widget-title {}

		// Homepage widget section
		#home-widgetzone {
			@include column(10, true);
			margin-top: 20px;
			
			.widget {
				@include column(5); 
				padding-bottom: 20px; }
				
				.widget-inside {}
					.widget-title {}
					.widget ul {}
						.widget ul li {}
		}

	/**
	 * 3.2 Comments template
	 ************************************************/

	// Wrapper for entire comments area
	#comments-template {}

		// Comments section headers/titles
		.comments-header {}
		#comments-number {}

		// Comments closed paragraph
		p.comments-closed {}
		
		li.comment {
		    margin-bottom: 10px;
	        border: 1px solid #AAA;
	    }
	    
	    .comment-body > p {
	        padding-top: 5px;
	        padding-left: 10px;
	        padding-right: 10px;
	    }
	    
	    .reply {
	        padding-left: 5px;
	        margin-bottom: 5px;
	        
	        .comment-reply-link {
			    padding: 2px;
			    border: 1px solid;
			    margin-bottom: 2px;
			    text-decoration: none;
			    color: #000;
			    background-color: #EEE;
			    &:hover {
			        text-decoration: underline;
			    }
			}
	    }

			// Main comments section
			#comments {
			    margin-top: 20px;
			}  
			  
			ol {
			    .children {
			        list-style-type: none;
			        padding-right: 5px;
			    }
			}

				// Individual comments (note that WordPress has even/odd backwards)
				li {}
					li li {}
						li li li {}
							li li li li {}
				li.even {}
				li.odd {}
				li.thread-even {}
				li.thread-odd {}
				li.author {}
				li.trackback {}
				li.pingback {}

					// Comment avatars
					.avatar {}

					// Comment metadata
					.comment-author {
					    padding-top: 5px;
					    padding-bottom: 5px;
					    padding-left: 10px;
					    background-color: #EEE;
					    font-size: 1.2em;					    
					}
					.comment-meta {
					    padding-left: 10px;
					    padding-bottom: 0px;
					    background-color: #F5F5F5;
					}
						.comment-meta cite {}

					// Comment text
					.comment-text {}

				// Paged comments navigation
				#comments-template .paged-navigation {}
					#comments-template .paged-navigation .page-numbers {}
					#comments-template .paged-navigation .next {}
					#comments-template .paged-navigation .prev {}

			// Main comment form div
		    #respond {
			    //border: 1px solid #AAA;
			    background-color: #F7F7F7;
			    padding-top: 10px;
			    padding-left: 10px;
			    padding-bottom: 5px;
			    margin-top: 5px;
			    margin-right: 10px;
			    margin-left: 10px;
			    margin-bottom: 10px;
			    border: 1px solid #AAA;
			    @include box-shadow(gray 2px 2px 5px);
			}

				// Comment form title
				#reply {}

				// Comment form elements
				p#cancel-comment-reply {}
				#respond form {}
					#respond .form-author {}
						#respond input {}
					#respond .form-email {}
					#respond .form-url {}
					#respond .form-textarea {}
						#respond textarea {}
					#respond #submit {}
						#respond #submit:hover {}

	/**
	 * 3.3 Product single page content
	 ************************************************/
	 
	// Left column
	#product-left-column {
		@include column(11);
		@include append(1);	
	     
		#product-image-container {
    	     overflow: hidden;
             
             #product-main-image-container {
								@include box;
								
                 //background: url('../../graphics/product_gallery-bg-img.png') no-repeat 0 0;
                 //background-size: 100%;
                 //padding: 26px;
                 //min-height: 200px;
                                  
                 > img {
                     padding-top: 10px;
                     margin-left: auto;
                     margin-right: auto;
                     vertical-align: middle;
                     display: table-cell;
                     min-height: 200px;
                     max-height: 300px;
                     //max-width: 350px;
                     //max-height: 350px;
                 }
             }
             
             #product-gallery-thumbs {
                 @include column(10);
                 width: 100%;
                 
                 > ul {
         	         list-style-type: none;
         	         float: left;
         	         position: relative;
                     left: 45%;
                     
                     > li {
                         display: inline;
                         float: left;
                         position: relative;
                         left: -50%;
                     }
                     
                     .product-gallery-thumb {
                         width: auto;
                         height: 70px;
                         margin-top: 0px;
                         margin-right: 20px;
                     }
         	    }
             }
    	 }
	 
    	 #product-description {
    	     margin-top: 0px;
    	     font-size: 1.1em;    
    	 }
	 
    	 #product-data {
    	 		@include box;
    	     > a {
    	         text-decoration: none;
    	         padding-left: 10px;
    	         font-size: 0.8em;
    	     }
    	     
    	     #product-data-header {
							@include box-header;
    	     }
    	     
    	     #product-data-icon {
    	         width: 25px;
    	         height: 25px;
    	         display: inline;
    	         vertical-align: text-bottom;
    	         margin: 0px;
    	         padding: 0px;
    	     }	     
    	 }
	 
    	 #product-call-to-action {
    	     border: 1px solid #AAA;
    	     @include border-radius(4px);
    	     @include box-shadow(gray 2px 2px 5px);
    	     
    	     margin-top: 20px;
    	     background-color: #EEE;
    	     font-size: 2em;
    	     text-align: center;
    	     //width: 95%;
    	     //margin-left: auto;
    	     //margin-right: auto;
    	     //display: block;
    	     
    	     > a { text-decoration: none; }
    	 }
    }
	 
	 // Right column
	 #product-right-column {
	     @include column(9, true);
	     
    	 #product-content {
				@include column(9, true);
				@include box;
    	 }
    	 
    	 #product-content-header {
    	     @include box-header;
    	 }
     }
     
		/**
 	 * 3.4 Product Category taxonomy page content
 	 ************************************************/
	.product-category-content {
		@include column(22, true);
		width: 100%; }
 	 
 	 .product-category-call-to-action {
 	     @include column(22, true);
 	     @include border-radius(4px);
 	     border: 1px solid #BCBCBC;
 	     margin: 15px 0;
			 padding: 5px 0;
 	     background-color: #e2ffbc;
 	     font-size: 1.4em;
 	     text-align: center;
 	     
 	     > a { text-decoration: none; }
 	 }
 	 
 	 .product-category-product {
 	     @include column(6);
 	     //border: 1px dotted;
 	     padding: 10px;
 	     margin-bottom: 60px;
 	     position: relative;
 	     
 	     .product-category-product-image-container {
 	         width: 100%;
             border: 1px solid #BCBCBC;
             @include border-radius(4px);
             
             .product-category-product-image {
                 width: 70px;
                 height: 100px;
                 display: block;
                 margin-left: auto;
                 margin-right: auto;
                 padding: 20px;
             }  
 	     }
 	     
 	     > a {
 	         text-decoration: none;
 	         color: #000;
 	         @include single-text-shadow(white, 0, 1px, 1px);
 	         &:active {
 	             @include single-text-shadow(white, 0, 0px, 0px);
 	         }
 	         &:hover {
 	             color: #0079c2;
 	         }
 	     }
 	     
 	     .product-category-product-title {
 	         border: 1px solid #BCBCBC;
 	         @include border-radius(4px);
 	         background-color: #DDD;
 	         
 	         width: 100%;
 	         margin-left: -10px;
 	         padding: 10px;
 	         position: absolute;
 	         bottom: -25px;
 	         left: 0;
 	         
 	         text-align: center;
 	         font-size: 1.2em;
 	         font-weight: bold;
 	         overflow: auto;
 	         z-index: 2;
 	     }
 	       
     	 .product-category-product-data {
     	     width: 93%;
     	     border: 1px solid #BCBCBC;
     	     @include border-radius(4px);
     	     z-index: 1;
     	     margin-left: 10px;
     	     overflow: auto;

     	     position: absolute;
     	     bottom: -50px;
     	     left: 0px;

     	     font-size: 1.1em;
     	     text-align: center;

     	     > span {
     	         width: 100%;
     	         display: block;
     	         padding-top: 30px;
     	         padding-bottom: 2px;
     	     }
     	     
     	     > span img {
     	         width: 15px;
     	         vertical-align: text-bottom;
     	     }
     	 }
 	 }
 	 
 	 .product-category-product-spacer {
         @include column(1);
         overflow: auto;
     }
     
     /**
 	 * 3.5 page-tilbud content
 	 ************************************************/
	    .tilbud-content {
	        @include column(22); }

 	    .tilbud-centering-container {
 	        width: 93%;
 	        margin-top: 10px;
 	        margin-bottom: 10px;
 	        margin-left: auto;
 	        margin-right: auto; 
 	        overflow: auto;    
 	        
 	        .tilbud-thumbnail-container {
 	            float: left;
 	            border: 1px solid #DDD;
 	            width: 150px;
 	            padding: 10px;
 	            margin-top: 10px;
 	            margin-bottom: 10px;
 	            
 	            text-align: center;
 	            
 	            > a { text-decoration: none; }
 	            
 	            > a span {
 	                padding-top: 5px;
 	                display: block;
 	                color: #555;
 	                font-size: 1.3em;
 	            }
 	            
 	            &:hover {
 	                border-color: #AAA;
 	                > a span {
 	                    color: #000;
 	                }
 	            }
 	            
 	            &:active {
 	                border-color: #555;
 	            }
 	        }
 	        
 	        .tilbud-spacer {
                @include column(1);
                overflow: auto; 	            
 	        }
 	    }
 	 
     	 /**
     	 * 3.5.1 Template Name: Tilbud content
     	 ************************************************/
     	 #tilbud-embedded {
     	     @include column(22, true);
     	     height: 750px;
     	     padding-top: 5px;
 	         padding-bottom: 30px;
 	         
 	         > a { text-decoration: none; }
     	     
     	     > iframe {
     	         width: 100%;
     	         height: 100%;
     	     }
     	 }

 	/**
 	 * 3.6 Tools front page
 	 ************************************************/
 	 .tools-front-content {
 	     @include column(22, true);
 	         margin: 20px 0;
 	     
 	     .tools-front-left-column {
 	         @include column(14);
 	         @include append(1);
 	     }
 	     
 	     .tools-front-right-column {
				  @include column(7, true);
 	         
 	         > a { text-decoration: none; }
 	         
 	         #tools-front-manufacturers {            
						@include box;
						@include column(7, true);
						
 	             height: 150px;

 	             
 	             #tools-front-manufacturers-title {
								@include box-header;
 	                 
 	                 > span {
 	                     color: #000;
 	                     padding-left: 10px;
 	                     font-size: 1.3em;
 	                 } 
 	             }
 	             
 	             #tools-front-manufacturers-slideshow {
 	                 width: 100%;
 	                 height: 82%;
 	                 margin-left: auto;
 	                 margin-right: auto;
 	                 > div {
 	                     width: 100%;
 	                     height: 100%;
 	                 }
 	                 > div div {
 	                     background-repeat: no-repeat;
 	                     background-position: center center;
 	                     width: 100%;
 	                     height: 100%;
 	                 }
 	             }
 	         }
 	         
 	         #tools-front-tilbud {
 	             @include column(7, true);
 	             @include border-radius(4px);
							@include dropshadow();
							background: #fff;
 	             border: 1px solid #DDD;
 	             margin-top: 20px;
 	             
 	             > a { text-decoration: none; }
 	             
 	             #tools-front-tilbud-title {
								@include box-header;
 	                 
 	                 > span {
 	                     color: #000;
 	                     padding-left: 10px;
 	                     font-size: 1.3em;
 	                 }           
 	             }
 	             
 	             #tools-front-tilbud-single-centering-container {             
 	                 width: 89%;
 	                 display: block;
 	                 margin-left: auto;
 	                 margin-right: auto;
 	                 overflow: auto;
 	                 
 	                 .tools-front-tilbud-single-spacer {
 	                     width: 10px;
 	                     display: inline;
 	                     float: left;
 	                 }
 	                 
     	             .tools-front-tilbud-single {
     	                @include opacity(0.8);
     	                float: left;
     	                margin-top: 10px;
     	                margin-bottom: 10px;
     	                z-index: 1;
                        > a img {
                            height: 100px;
                            width: 70px;
                        }
                        
                        &:hover {
                            @include opacity(1.0);
                        }
     	             }
                }
 	             
 	         }
 	     }
 	 }
 	 
 	 /**
  	 * 3.6 Materials front page
  	 ************************************************/
  	 .materials-front-content {
  	     @include column(22);
  	     margin: 20px 0;
  	 }

     #materials-front-left-column {
         @include column(14);
         @include append(1);
     }
     
     #materials-front-right-column {
			  @include column(7, true);

 	         > a { text-decoration: none; }

 	         #materials-front-manufacturers {
            @include border-radius(4px);
            @include column(7, true);
						@include dropshadow();
 	          border: 1px solid #DDD;
						background: #fff;

 	             #materials-front-manufacturers-title {
								@include box-header;
								
 	                 > span {
 	                     color: #000;
 	                     padding-left: 10px;
 	                     font-size: 1.3em;
 	                 } 
 	             }

 	             #materials-front-manufacturers-content {
								padding: 10px;
								}

						}
					}


	/**
	 * 3. Homepage content/widgets
	 ************************************************/

	.box-call-to-action {
		@include box;
		@include dropshadow;
		//@include column(7, true);
		float: left;
		width: 100%;
		height: 82px;
	  position: relative;
		background-color: #cdf8cd;
		font-size: 1.2em;
		text-align: center;
		
	  //background: #ddd;
	  color: rgba(0,0,0, 1);
	  text-shadow: 0 1px 0 rgba(255,255,255, 0.5);		
		
		> div { display: block; padding: 20px; }
    > a { text-decoration: none; }

		
	}

/**
 * 4. Footer
 ************************************************/

// Wrapper for the entire footer
#footer-container {
	width: 100%;
	background-color: #dddddd;
	background-position: center top; 
	margin-top: -80px;
	height: 80px; }
	
	body.dmt-area-tools #footer-container {
		background-image: url('../../graphics/tools_footer-texture.png');
		background-repeat: no-repeat; }

	body.dmt-area-materials #footer-container {
		background-image: url('../../graphics/materials_footer-texture.png'); 
		background-repeat: no-repeat; }

	body.home #footer-container {
		background-image: none; }	
	
	#footer {
		@include container;
		padding-top: 5px;
        /*
		> div,
		.breadcrumb {
			@include prepend(1);
			@include column(22, true);
			@include append(1);			
		}*/
		
		.widget { // Contact info
		    @include prepend(5);
		    @include column(6);
		}
		
		#footer-menu-container {
		    @include prepend(1);
	        @include column(11);
	        
	        .footer-menu-title {
	            font-size: 1.1em;
	        }
		    
		    #materials-footer-menu,
		    #tools-footer-menu {
		        @include column(5);
		        > ul { 
		            list-style-type: square;
		            > li a {
		                @include transition-property(color);
						@include transition-duration(0.5s);
						text-decoration: none;
						font-size: 1.0em;
						color: #000;
						&:hover {
							color: #0079c2; }
		            }
		        }
		    }
		}
	}
	
	#footer-products {
		@include column(10);	

		.footer-products-text {
			@include column(10, true);
			margin: 7px 0;
			font-style: italic;
			font-weight: bold;
		}
		
		.footer-button {
			@include opacity(0.5);
			@include border-radius(4px);				
			@include transition-property(all);
			@include transition-duration(0.4s);
			float: left;
			background-color: #fff;
			background: -moz-linear-gradient(
				top,
				#ffffff 0%,
				#ebebeb 50%,
				#dbdbdb 50%,
				#b5b5b5);
			background: -webkit-gradient(
				linear, left top, left bottom, 
				from(#ffffff),
				color-stop(0.50, #ebebeb),
				color-stop(0.50, #dbdbdb),
				to(#b5b5b5));
			color: #050505;
			border: 1px solid #949494;
			padding: 5px 10px;
			margin-right: 10px;

			font-size: 1em; 
			text-decoration: none;
			color: #000; }
			
			.footer-button:hover {
				@include opacity(1);
				@include transition-property(all);
				@include transition-duration(0.4s);
				color: red; }

		.first {
			clear: left;
		}

	}

	#footer-info {
		@include column(14,true);
		margin: 10px 0 0 0;
		text-align: right;
		div { float: right; width: auto; margin-top: 7px; }
		img { float: right; width: 85px; margin-left: 20px; }
	}
		
/**
 * 5. Elements (default styling)
 ************************************************/

// Hyperlinks 
a:link {}
a:visited {}
a:hover {}
a:active {}

// Headers 
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

// Text elements 
strong {}
em {}
cite {}
abbr {}
acronym {}
sup {}
sub {}
address {}
ins {}
dfn {}
del {}

// Paragraphs 
p {}

// Unordered lists 
ul {}
	ul li {}

// Ordered lists 
ol {}
	ol li {}

// Defition lists 
dl {}
	dt {}
	dd {}

// Blockquotes 
blockquote {}
	blockquote blockquote {}
	blockquote em {}

// Object 
object {}

// Code 
code {}
pre {}
pre code {}

// Tables 
table {}
	caption {}
	tr {}
	th {}
	td {}

// Forms 
form {}
	textarea {}
	input {}
	label {}
	option {}

// Notes 
.note {}

// Warnings/Alerts
.warning, .alert {}

// Errors
.error {}

// Downloads
.download {}

// Alignment
.left, .alignleft {}
.right, .alignright {}
.center, .aligncenter {}
.block, .alignnone {}
.clear {}

/**
 * 6. Images
 ************************************************/

// Normal images
img {}
a img {}

// WP Smilies
img.wp-smiley {}

// Thumbnails
.thumbnail {}

// WP Captions [caption]
.wp-caption {}
	.wp-caption img {}
	.wp-caption p {}

// Gallery [gallery]
.gallery {}
	.gallery img {}

// Avatars
.avatar {}		